body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  text-align: center;
}

.item {
  background: #111;
  color: #fff;
  padding: 30px;
  margin: 20px;
  border-radius: 5px;
}

span {
  color: yellow;
}

p {
  color: #b2b2b2;
}

a {
  display: inline-block;
  background: yellow;
  color: #332200;
  padding: 20px;
  border-radius: 4px;
  text-decoration: none;
}
